@keyframes wiggle {
  0% {
    transform: rotateZ(0);
    background-color: red;
  }
  7% {
    transform: rotateZ(0);
    background-color: orangered;
  }
  15% {
    transform: rotateZ(-15deg);
    background-color: orange;
  }
  20% {
    transform: rotateZ(10deg);
    background-color: yellow;
  }
  25% {
    transform: rotateZ(-10deg);
    background-color: yellowgreen;
  }
  30% {
    transform: rotateZ(6deg);
    background-color: green;
  }
  35% {
    transform: rotateZ(-4deg);
    background-color: palegreen;
  }
  40% {
    transform: rotateZ(0);
    background-color: gray;
  }
  100% {
    transform: rotateZ(0);
    background-color: black;
  }
}

.btn {
  border-radius: 0.5rem;
  border: none;
  font-size: 2rem;
  background-color: $bg;
  margin-left: 1rem;
  margin-top: 1rem;
  left: calc(50% - 3em);
  top: calc(50% - 2em);
  display: flex;
  align-items: center;
  &:hover {
    opacity: 80%;
  }
  //colors
  &--red {
    background-color: $red;
  }
  &--yellow {
    background-color: $yellow;
  }
  &--green {
    background-color: $green;
  }
  &--animate {
    &:active {
      transform-origin: 50% 5em;
      animation: wiggle 2s linear infinite;
    }
  }
}
