.input {
  padding: 0.5rem 1rem;
  border: 1px solid $gray-light;
  display: block;
  margin: 1rem;

  &--rounded {
    border-radius: 0.5rem;
  }
}
.paragraf {
  color: $red;
  &--color {
    color: $green;
  }
}
