.cardroller {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;

  &__image {
    width: 10rem;
    margin-bottom: 0;
  }
  &__item {
    border: 0.3rem solid $gray;
    border-radius: 0.3rem;
    background-color: $white;
  }
  &--name {
    margin: 1rem;
  }
  &__button {
    background-color: $gray;
    width: 5rem;

    align-items: center;
    justify-content: center;
  }
}
.data {
  margin-top: 2rem;
  border: 0.3rem solid $gray;
  border-radius: 0.3rem;
  text-align: center;
}
